<section class="section-cont">
    <section id="certificados" class="section-cont-sec">
      
      <h2 class="h2">
        <i class="fa-solid fa-certificate fa-sm" style="color:#fefffe;"></i>
        Certificados
      </h2>

      <div class="div-cert-content">
        <img  src="./../../../assets/img/certificados/git_y_github.PNG" alt="Certificado de Git y GitHub" class="img-certificado"   loading="lazy"/>
              
        <img  src="./../../../assets/img/certificados/fundaSoft.PNG" alt="Certificado de Fundamentos de Ingenieria del Software" class="img-certificado"   loading="lazy"/>
        
        <img  src="./../../../assets/img/certificados/js.png" alt="Certificado de Programacion con JavaScript" class="img-certificado"  loading="lazy"/>
      
        <img  src="./../../../assets/img/certificados/figma.png" alt="Certificado de FIGMA" class="img-certificado"  loading="lazy"/>
       
        <img  src="./../../../assets/img/certificados/php_con_laravel.jpg" alt="Certificado de php con Laravel" class="img-certificado"  loading="lazy"/>

        <img  src="./../../../assets/img/certificados/scrum.jpg" alt="Certificado de Scrum" class="img-certificado"  loading="lazy"/>
      </div>
    </section>
  </section>
