<section class="section-secundary">
    <section id="sobremi" class="section-sobremi">
      
      <h2 class="h2">
        <i class="fa-solid fa-user-tie fa-sm" style="color:#fefffe;"></i>
        Sobre Mí
      </h2>

      <div class="div-sobremi-content">
        <div class="card-sobremi">
          <img src="https://unavatar.io/github/Fernandezjuandiego95" alt="foto de perfil" class="avatar">
          <span class="span-sobremi">
            Me llamo Juan Diego Fernández, tengo 23 años de edad, soy estudiante de ingeniería de sistemas en proceso de grado,
            con un fuerte enfoque en el desarrollo de aplicacionesweb.
            <br><br>
            Mi compromiso y responsabilidad se reflejan en mis sólidas habilidades para crear entornos web, 
            utilizando herramientas que he dominado a lo largo de los años. 
            <br><br>
            Mi objetivo es ser un profesional íntegro y comprometido con la excelencia en cada proyecto que asumo.
          </span>
        </div>
  
        <div class="div-habilidades">
          <h3>Habilidades <i class="fa-solid fa-toolbox"></i></h3>
          <div class="div-technology">
            <app-tech-card imgSrc="./../../../assets/img/tecno/html.png" imgAlt="HTML" text="HTML" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/css.png" imgAlt="CSS" text="CSS" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/js.png" imgAlt="JavaScript" text="JavaScript" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/angular.png" imgAlt="Angular" text="Angular" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/php.png" imgAlt="PHP" text="PHP" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/laravel.png" imgAlt="Laravel" text="Laravel" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/Mysql.png" imgAlt="MySQL" text="MySQL" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/figma.png" imgAlt="Figma" text="FIGMA" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/git.png" imgAlt="Git" text="Git" />
            <app-tech-card imgSrc="./../../../assets/img/tecno/github.png" imgAlt="GitHub" text="GitHub" />
          </div>
        </div>
      </div>
     
    </section>
  </section>
