<section class="section-secundary">
    <section id="sobremi" class="section-sobremi">
      
      <h2 class="h2">
        <i class="fa-solid fa-user-tie fa-sm" style="color:#fefffe;"></i>
        Sobre Mí
      </h2>

      <div class="div-sobremi-content">
        <div class="card-sobremi">
          <img src="https://unavatar.io/github/Fernandezjuandiego95" alt="foto de perfil" class="avatar">
          <span class="span-sobremi">
           Soy Juan Diego Fernández, Ingeniero de Sistemas con una fuerte pasión por el desarrollo de software enfocado en la web. 
            A lo largo de mi formación y experiencia práctica, he adquirido habilidades sólidas en tecnologías como 
            HTML, CSS, JavaScript, PHP, Angular y MySQL, que me permiten crear soluciones digitales eficientes, 
            funcionales y bien estructuradas.
            <br><br>
           Me considero una persona honesta, responsable, íntegra y comprometida con la excelencia. 
            Disfruto trabajar en entornos colaborativos y adaptarme a distintos retos, utilizando metodologías ágiles como Scrum, 
            pero siempre abierto a otros enfoques de trabajo.
            <br><br>
            Mi objetivo es ser un profesional íntegro y comprometido con la excelencia en cada proyecto que asumo.
          </span>
        </div>
  
        <div class="div-habilidades">
          <h3>Habilidades <i class="fa-solid fa-toolbox"></i></h3>
          <div class="div-technology">
            <app-tech-card imgSrc="./../../../assets/img/tecno/html.png" imgAlt="HTML" text="HTML" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/css.png" imgAlt="CSS" text="CSS" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/js.png" imgAlt="JavaScript" text="JavaScript" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/angular.png" imgAlt="Angular" text="Angular" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/php.png" imgAlt="PHP" text="PHP" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/laravel.png" imgAlt="Laravel" text="Laravel" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/Mysql.png" imgAlt="MySQL" text="MySQL" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/figma.png" imgAlt="Figma" text="FIGMA" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/git.png" imgAlt="Git" text="Git" loading="lazy"/>
            <app-tech-card imgSrc="./../../../assets/img/tecno/github.png" imgAlt="GitHub" text="GitHub" loading="lazy"/>
          </div>
        </div>
      </div>
     
    </section>
  </section>
