<section class="section-cont">
    <section id="proyectos" class="section-cont-sec">
        <h2 class="h2">
            <i class="fa-solid fa-certificate fa-sm" style="color:#fefffe;"></i>
            Proyectos
        </h2>

        <div class="div-proyect-content">
          
            <app-card
            [urlImg]="'./../../../assets/img-proyectos/panel1.png'"
            [textTitulo]="'Sistema De Información'"
            [textDescription]="'Sistema de información para controlar los procesos sobre los mantenimientos abordados en motocicletas que ingresan al taller de mecánica (Motorepuestos La Bendición).'"
            [button1Text]="'Código'"
            [button1Url]="'https://github.com/Fernandezjuandiego95/proyectoTallerLaBendicion'"
            [button1Icon]="'fa fa-code'"
            [tecnologias]="[
            { name: 'HTML', color: 'linear-gradient(90deg, rgba(198,57,1,1) 0%, rgba(255,115,0,1) 100%)', icon:'fa-brands fa-html5' },
            { name: 'CSS', color: 'linear-gradient(90deg, rgba(1,54,198,1) 0%, rgba(0,194,255,1) 100%)', icon: 'fa-brands fa-css3' },
            { name: 'JS', color: 'linear-gradient(90deg, rgba(198,140,1,1) 0%, rgba(255,214,0,1) 100%)', icon: 'fa-brands fa-js'},
            { name: 'PHP', color: 'linear-gradient(90deg, rgba(172,57,254,1) 0%, rgba(213,115,255,1) 100%)', icon: 'fa-solid fa-server'},
            { name: 'MySQL', color: 'linear-gradient(90deg, rgba(47,75,255,1) 0%, rgba(251,139,17,1) 100%)', icon: 'fa-solid fa-database'}
            ]"
            />
          
          
            <app-card
            [urlImg]="'./../../../assets/img-proyectos/nico/principal.png'"
            [textTitulo]="'Plataforma Gestión Perfil'"
            [textDescription]="'Plataforma para mostrar información a acerca del candidato poíitico, también poder gestionar (noticias, rutas) de forma dinámica, generar reportes y procesar información de los simpatizantes.'"
            [button2Text]="'Visitar'"
            [button2Url]="'https://nicosierra.com.co/'"
            [button2Icon]="'fa-regular fa-eye'"
            [tecnologias]="[
            { name: 'HTML', color: 'linear-gradient(90deg, rgba(198,57,1,1) 0%, rgba(255,115,0,1) 100%)', icon:'fa-brands fa-html5' },
            { name: 'CSS', color: 'linear-gradient(90deg, rgba(1,54,198,1) 0%, rgba(0,194,255,1) 100%)', icon: 'fa-brands fa-css3' },
            { name: 'JS', color: 'linear-gradient(90deg, rgba(198,140,1,1) 0%, rgba(255,214,0,1) 100%)', icon: 'fa-brands fa-js' },
            { name: 'PHP', color: 'linear-gradient(90deg, rgba(172,57,254,1) 0%, rgba(213,115,255,1) 100%)', icon: 'fa-solid fa-server'},
            { name: 'MySQL', color: 'linear-gradient(90deg, rgba(47,75,255,1) 0%, rgba(251,139,17,1) 100%)', icon: 'fa-solid fa-database'}
            ]"
            />


            <app-card
            [urlImg]="'./../../../assets/img-proyectos/tomala/tomala6.png'"
            [textTitulo]="'I.E.T.A DE TOMALA'"
            [textDescription]="'Plataforma web dinámica, para fomentar los procesos de enseñanza de las matemáticas como una ayuda complementaria en el aprendizaje de los estudiantes de grado quinto de la I. E. T. A DE TOMALA.'"
            [button1Text]="'Código'"
            [button1Url]="'https://github.com/Fernandezjuandiego95/I.E.T.A-Tomala'"
            [button1Icon]="'fa fa-code'"
            [tecnologias]="[
            { name: 'HTML', color: 'linear-gradient(90deg, rgba(198,57,1,1) 0%, rgba(255,115,0,1) 100%)', icon:'fa-brands fa-html5' },
            { name: 'CSS', color: 'linear-gradient(90deg, rgba(1,54,198,1) 0%, rgba(0,194,255,1) 100%)', icon: 'fa-brands fa-css3' },
            { name: 'JS', color: 'linear-gradient(90deg, rgba(198,140,1,1) 0%, rgba(255,214,0,1) 100%)', icon: 'fa-brands fa-js' },
            { name: 'PHP', color: 'linear-gradient(90deg, rgba(172,57,254,1) 0%, rgba(213,115,255,1) 100%)', icon: 'fa-solid fa-server'},
            { name: 'MySQL', color: 'linear-gradient(90deg, rgba(47,75,255,1) 0%, rgba(251,139,17,1) 100%)', icon: 'fa-solid fa-database'}
            ]"
            />
          
        </div>
    </section>
</section>
<!--[urlImg]="'./../../../assets/img-proyectos/panel1.png'"-->