*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}


body{
    background: rgb(1,2,27);
    background: linear-gradient(90deg, rgba(1,2,27,1) 60%, rgba(3,6,55,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.h2{
    font-size: 4vh;
    font-weight: 700;
    color: #fefffe;
    margin-left: 3%;
  }
  